#slide
    = image_tag "slide5.jpg", size: "1140x300",class: 'slideshow'
    = image_tag "mainImg01.jpg", size: "1140x300",class: 'slideshow'
    = image_tag "slide.jpg", size: "1140x300",class: 'slideshow'