.wrapper
  =render "shared/header"

  %iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://calendar.google.com/calendar/embed?src=adbbuvg63d20scoijv3o8fet6s%40group.calendar.google.com&ctz=Asia%2FTokyo", :style => "border: 0", :width => "800"}

.footer
  